@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;

    background: linear-gradient(
        to bottom right,
        #020617, /* slate-950 */
        #0f172a, /* slate-900 */
        #020617
    );
}
